<div class="d-flex flex-column">

  <div class="img-wrapper">
    <img [src]=" cocktail?.img" [alt]="cocktail?.name">
  </div>
  <h3 class="pt-20">{{cocktail?.name}}</h3>
  <p appColor class="pt-20 mb-20">{{cocktail?.description}}</p>
  <ul class="list-primary list-primary-action mb-20">
    <li *ngFor='let ingredient of cocktail?.ingredients' class='d-flex flex-row'>
      <span class='flex-fill'>{{ ingredient.name }}</span>
      <span class="badge">{{ ingredient.quantity }}</span>
    </li>
  </ul>
  <div class="pt-20">
    <button class="btn btn-primary">Editer le cocktail</button>
  </div>
</div>
